<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <a class="navbar-brand" href="#">PUNTOU</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/menu">Inicio <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/articulo">Artículos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/administracion">Administración</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/proveedor">Proveedores</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="menu">
  <ul class="menu-list">
    <li>
      <button *ngIf="mostrarBotonCrearProveedor" class="btn btn-link btn-unstyled text-light" (click)="mostrarFormulario()">Crear Proveedor</button>
    </li>
    <li>
      <button *ngIf="mostrarBotonCrearProveedor" class="btn btn-link btn-unstyled text-light" (click)="buscarProveedores()">Buscar</button>
    </li>
  </ul>
</nav>





  <div class="container my-4">     
    <form *ngIf="mostrarFormulario1" (submit)="guardarProveedor()">
        <div class="container">
            <h2>Crear Proveedor</h2>
            <button *ngIf="mostrarBotonCrearProveedor" class="btn btn-primary" (click)="mostrarFormulario()">Crear Proveedor</button>
            <form (submit)="guardarProveedor()">
              <div class="mb-3">
                <label for="tipoDocumento" class="form-label">Tipo de Documento</label>
                <select class="form-select" id="tipoDocumento" name="tipoDocumento" [(ngModel)]="nuevoProveedor.tipoDocumento">
                  <option value="NIT">NIT</option>
                  <option value="CC">Cédula de Ciudadanía</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="numeroDocumento" class="form-label">Número de Documento</label>
                <input type="text" class="form-control" id="numeroDocumento" name="numeroDocumento" [(ngModel)]="nuevoProveedor.numeroDocumento">
              </div>
              <div class="mb-3">
                <label for="nombreRazonSocial" class="form-label">Nombre o Razón Social</label>
                <input type="text" class="form-control" id="nombreRazonSocial" name="nombreRazonSocial" [(ngModel)]="nuevoProveedor.nombreRazonSocial">
              </div>
              <div class="mb-3">
                <label for="telefono" class="form-label">Telefono</label>
                <input type="text" class="form-control" id="telefono" name="telefono" [(ngModel)]="nuevoProveedor.telefono">
              </div>  
              <div class="mb-3">
                <label for="direccion" class="form-label">Direccion</label>
                <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="nuevoProveedor.direccion">
              </div>              
              <div class="mb-3">
                <label for="departamento" class="form-label">Departamento</label>
                <input type="text" class="form-control" id="departamento" name="departamento" [(ngModel)]="nuevoProveedor.departamento">
              </div>
              <div class="mb-3">
                <label for="municipio" class="form-label">Municipio</label>
                <input type="text" class="form-control" id="municipio" name="municipio" [(ngModel)]="nuevoProveedor.municipio">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="nuevoProveedor.email"
                  required
                  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
                  [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}">
                <div class="invalid-feedback">
                  Por favor, ingresa un correo electrónico válido.
                </div>
              </div>
              
              
              <div class="mb-3">
                <label for="regimenTributario" class="form-label">Regimen Tributario</label>
                <input type="text" class="form-control" id="regimenTributario" name="regimenTributario" [(ngModel)]="nuevoProveedor.regimenTributario">
              </div>  
              <div class="mb-3">
                <div class="form-check form-check-inline">
                  <input type="checkbox" class="form-check-input" id="estadoActivo" name="estadoActivo" [(ngModel)]="nuevoProveedor.estadoActivo">
                  <label class="form-check-label" for="estadoActivo">Activo</label>
                </div>
              </div>                                                                                               
              <div class="mb-3">
                <button type="submit" class="btn btn-primary mr-2">Guardar</button>
                <button *ngIf="!mostrarBotonCrearProveedor" class="btn btn-primary" (click)="volverAFormulario()">Cancelar</button>
              </div>

              <div *ngIf="error" class="alert alert-danger mt-3">
                {{ error }}
              </div>
              
            </form>
          </div>
    </form>
  </div>


  <div *ngIf="mostrarListaProveedores">
    <input type="text" class="form-control" [(ngModel)]="filtro" placeholder="Buscar proveedor por nombre...">
    &nbsp;
    <table class="table">
      <thead>
        <tr>
          <th hidden>Id</th>
          <th>Tipo Documento</th>
          <th>Documento</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Telefono</th>
          <th>Direccion</th>
          <th>Departamento</th>
          <th>Municipio</th>
          <th>Regimen</th>
          <th>Activo</th>
          <th>Fecha Creación</th>
          <th>Acciónes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proveedor of proveedoresFiltrados">
          <td hidden>{{ proveedor._id }}</td>
          <td>{{ proveedor.tipoDocumento }}</td>
          <td>{{ proveedor.numeroDocumento }}</td>
          <td>{{ proveedor.nombreRazonSocial }}</td>
          <td>{{ proveedor.email }}</td>
          <td>{{ proveedor.telefono }}</td>
          <td>{{ proveedor.direccion }}</td>
          <td>{{ proveedor.departamento }}</td>
          <td>{{ proveedor.municipio }}</td>
          <td>{{ proveedor.regimenTributario }}</td>
          <td>{{ proveedor.estadoActivo }}</td>
          <td>{{ proveedor.createdAt }}</td>
          
          <td>
            <button class="btn btn-primary" (click)="editarProveedor(proveedor)">Editar</button>
            &nbsp;
            <button class="btn btn-danger" (click)="eliminarProveedor(proveedor)">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="modoEdicion">
      <form (submit)="guardarEdicion()">
        <div class="mb-2 row">
          <label for="tipoDocumento" class="col-sm-4 col-form-label">Tipo de Documento</label>
          <div class="col-sm-8">
            <select class="form-select form-select-sm" id="tipoDocumento" name="tipoDocumento" [(ngModel)]="nuevoProveedor.tipoDocumento">
              <option value="NIT">NIT</option>
              <option value="CC">Cédula de Ciudadanía</option>
            </select>
          </div>
        </div>
        
        <div class="mb-2 row">
          <label for="numeroDocumento" class="col-sm-4 col-form-label">Número de Documento</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" id="numeroDocumento" name="numeroDocumento" [(ngModel)]="proveedorEditado.numeroDocumento">
          </div>
        </div>
        <div class="mb-2 row">
          <label for="nombreRazonSocial" class="col-sm-4 col-form-label">Nombre/Razón Social</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" id="nombreRazonSocial" name="nombreRazonSocial" [(ngModel)]="proveedorEditado.nombreRazonSocial">
          </div>
        </div>
        <div class="mb-2 row">
          <label for="telefono" class="col-sm-4 col-form-label">Teléfono</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" id="telefono" name="telefono" [(ngModel)]="proveedorEditado.telefono">
          </div>
        </div>
        <div class="mb-2 row">
          <label for="direccion" class="col-sm-4 col-form-label">Dirección</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" id="direccion" name="direccion" [(ngModel)]="proveedorEditado.direccion">
          </div>
        </div>
        <div class="mb-2 row">
          <label for="departamento" class="col-sm-4 col-form-label">Departamento</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" id="departamento" name="departamento" [(ngModel)]="proveedorEditado.departamento">
          </div>
        </div>
        <div class="mb-2 row">
          <label for="municipio" class="col-sm-4 col-form-label">Municipio</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" id="municipio" name="municipio" [(ngModel)]="proveedorEditado.municipio">
          </div>
        </div>
        <div class="mb-2 row">
          <label for="email" class="col-sm-4 col-form-label">Email</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" id="email" name="email" [(ngModel)]="proveedorEditado.email">
          </div>
        </div>
        <div class="mb-2 row">
          <label for="regimenTributario" class="col-sm-4 col-form-label">Regimen Tributario</label>
          <div class="col-sm-8">
            <input type="text" class="form-control form-control-sm" id="regimenTributario" name="regimenTributario" [(ngModel)]="proveedorEditado.regimenTributario">
          </div>
        </div>
        <div class="mb-2 row">
          <div class="col-sm-8 offset-sm-4">
            <div class="form-check form-check-inline">
              <input type="checkbox" class="form-check-input" id="estadoActivo" name="estadoActivo" [(ngModel)]="nuevoProveedor.estadoActivo">
              <label class="form-check-label" for="estadoActivo">Activo</label>
            </div>
          </div>
        </div>
        <div class="mb-2 row">
          <div class="col-sm-8 offset-sm-4">
            <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
            &nbsp;
            <button type="button" class="btn btn-secondary btn-sm" (click)="cancelarEdicion()">Cancelar</button>
          </div>
        </div>
        <div *ngIf="errorMensaje" class="alert alert-danger mt-3">
          {{ errorMensaje }}
        </div>
      </form>
    </div>
  </div>


  

  
  <div *ngIf="mensajeExitoso" class="alert alert-success mt-3">
    {{ mensajeExitoso }}
  </div>
    
  
  <div *ngIf="mensajeFallido" class="alert alert-success mt-3">
    {{ mensajeFallido }}

    
  </div>


  <img src="../../assets/PuntoU.jpg" alt="Imagen" class="img-fluid" style="width: 100%; height: auto;" *ngIf="!mostrarFormulario1 && !mostrarListaProveedores">

  