/* Estilo para la sección de contenido */
.content {
    padding: 2rem;
  }

  .spacer {
    flex: 1 1 auto;
  }  

  .mat-form-field{
    margin-top: 1.5%;
    width: 25%;
    margin-left: auto;
  }

  mat-card {
    margin: auto;
    width: 95%;
    margin-top: 0.1%;
    display: block;
    opacity: 95%;
  }
  
  .form {
  margin-left: 1%;
  }
  
  .full-width {
    margin-top: 0.1%;
    width: 100%;
  }
  
  .middle-width {
    margin-top: 0.1%;
    width: 95%;
    margin-left: 20rem;
    margin-right: 20rem;
  }
  
  td {
    padding-right: 8px;
  }
  
  .loading-shade {
    position: absolute;
    display: flex;
    margin-top: 15%;
    margin-left: 45%;
    margin-right: 45%;
  
  }
  
  mat-sidenav-container {
  height: calc(205vh - 115vH);
  }

  mat-sidenav {
    width: 230px;
    background-color: #eee;
  }

  .demo-section + .demo-section {
    margin-top: 16px;
  }

  mat-header-cell {
    display:flex;
    justify-content:flex-end;
   }

  mat-cell {
    display:flex;
    justify-content:flex-end;
  }

  .button24 {
    width: 24px;
    height: 24px;
    margin-top: -2px;
  }
  .icon24 {
    font-size: 18px;
    margin-top: 8px;
  }