/* Estilo para la sección de contenido */
.content {
    padding: 2rem;
  }

  .spacer {
    flex: 1 1 auto;
  }  

  .mat-card-left-up {
    position: static;
    width: 65%;
    height: 200px;
    margin-top: 0.1%;
    opacity: 95%;
  }

  .mat-card-left-down {
    position: absolute;
    margin-top: auto;
    width: 65%;
    height: auto;
    opacity: 95%;
  }
  
  .mat-card-right-up {
    position:static;
    width: 35%;
    height: 137px;
    margin-left: 65%;
    margin-top: -200px;
    opacity: 95%;
  }

  .mat-card-right-center {
    position:static;
    width: 35%;
    height: 62%;
    margin-left: 65%;
    background-color:rgb(0, 162, 255);
    opacity: 95%;
  }

  .mat-card-right-down {
    position:static;
    width: 35%;
    height: auto;
    margin-top: auto;
    margin-left: 65%;
    opacity: 95%;
  }

  .form {
    margin-left: 15px;
    margin-right: 5px;
  }
  
  td {
    padding-right: 8px;
  }

  .full-width {
    margin-top: 0.1%;
    width: 100%;
  }
  
  .middle-width {
    margin-top: 0.1%;
    width: 95%;
    margin-left: 20rem;
    margin-right: 20rem;
  }
  
  td {
    padding-right: 8px;
  }
  
  .loading-shade {
    position: absolute;
    display: flex;
    margin-top: 15%;
    margin-left: 45%;
    margin-right: 45%;
  
  }
  
  mat-sidenav-container {
  height: calc(205vh - 115vH);
  }

  mat-sidenav {
    width: 230px;
    background-color: #eee;
  }

  .button24 {
    width: 24.5px;
    height: 24.5px;
    color: white;
  }
  .icon24 {
    font-size: 22px;
    margin-top: 2.7px;
    color: blue;
  }

  .mat-sidenav-right {
    width: 538px;
    background-color: white;
  }

  .mat-form-field-menu{
    margin-top: 1%;
    width: 25%;
    height: 100%;
  }

  .colorText {
    color: white;
  }