/* Estilo para la sección de contenido */
.content {
  padding: 2rem;
}

.spacer {
  flex: 1 1 auto;
}

.mat-form-field {
  margin-top: 1.5%;
  width: 25%;
  margin-left: auto;
}

.mat-card-top {
  width: auto;
  height: 35%;
  opacity: 95%;
  background-color: white;
}

.mat-card-center {
  position: relative;
  width: auto;
  height: auto;
  opacity: 98%;
  background-color: aliceblue;
}

.mat-card-down {
  margin-top: auto;
  width: auto;
  height: auto;
  opacity: 95%;
  background-color: white;
}

.form {
  margin-left: 1%;
}

.full-width {
  margin-top: 0.1%;
  width: 100%;
}

.middle-width {
  margin-top: 0.1%;
  width: 95%;
  margin-left: 20rem;
  margin-right: 20rem;
}

td {
  padding-right: 8px;
}

.loading-shade {
  margin-top: 10%;
  margin-left: 45%;
  margin-right: 45%;
  position:relative;

}

mat-sidenav-container {
  height: calc(205vh - 115vH);
}

mat-sidenav {
  width: 230px;
  background-color: #eee;
  display: block;
}

.button24 {
  width: 24px;
  height: 24px;
}

.icon24 {
  font-size: 22px;
  margin-top: 2px;
}

.mat-sidenav-right {
  width: 538px;
  background-color: white;
}

.mat-form-field-menu {
  margin-top: 1%;
  width: 25%;
  height: 100%;
}

th,
td {
  width: 12%;
  height: -10%;
  text-align: left;
}

.full-width-right {
  position: absolute;
  margin-top: -5.5%;
  margin-left: 81.5%;
  width: auto;
}
.full-width-right-down {
  position: absolute;
  margin-top: -1%;
  margin-left: 81.5%;
  width: auto;
}

.full-width-right-card-down {
  margin-top: auto;
  margin-left: 40%;}

