<mat-toolbar color="basic" class="mat-elevation-z6">

  <button mat-icon-button routerLink="/menu" matTooltip="Menu">
    <mat-icon>menu</mat-icon>
  </button> 

  <button mat-icon-button routerLink="/registrarProveedor" matTooltip="Registrar Proveedor">
    <mat-icon>app_registration</mat-icon>
  </button> 

  <span class="spacer"></span>

  <button color="accent">
    BUSCAR PROVEEDOR
  </button> 

  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="usuarios" matTooltip="Gestion Cuentas">
    <mat-icon>manage_accounts</mat-icon>
    <mat-menu #usuarios="matMenu">
      <ng-template matMenuContent>
        <button mat-menu-item routerLink="/registrarUsuario">Registrar Usuario</button>
        <button mat-menu-item routerLink="/buscarUsuario">Buscar Usuario</button>
      </ng-template>
    </mat-menu>
  </button> 
  
  <button mat-icon-button matTooltip="Ajustes">
    <mat-icon>settings</mat-icon>
  </button> 
  <button mat-icon-button matTooltip="Usuario Logueado">
    <mat-icon>assignment_ind</mat-icon>
  </button> 
  <button mat-icon-button routerLink="/login" matTooltip="Salir">
    <mat-icon>logout</mat-icon>
  </button> 

</mat-toolbar>

<img src="../../assets/PuntoU.jpg" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.75;width: 100%; height: 100%;">