<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <a class="navbar-brand" href="#">UNET</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/menu">Inicio <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/articulo">Articulos</a> 
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/administracion">Administración</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/proveedor">Proveedores</a>
      </li>          
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-4" style="position: relative;">
    <div class="row">
<!-- Agrega esta clase 'menu-lateral' al div con clase 'col-lg-3' para aplicar estilos específicos -->
<div class="col-lg-3 menu-lateral">
    <!-- Menú lateral -->
    <ul class="list-group">
        <li class="list-group-item bg-danger text-light">
            <button type="button" class="btn btn-custom" (click)="toggleFormularioCrearUsuario()">Crear Usuario</button>
        </li>
        <li class="list-group-item bg-danger text-light">
            <button type="button" class="btn btn-custom" (click)="toggleFormularioBuscarUsuario()">Buscar</button>
        </li>
    </ul>
</div>

        <div class="col-lg-9">
            <div class="card" *ngIf="mostrarFormularioCrearUsuario && !mostrarFormularioBuscarUsuario" >
                <div class="card-header bg-dark text-dark" style="color: black;">
                    Crear Usuario
                </div>
                <div class="card-body">
                    <form (ngSubmit)="onSubmitCrearUsuario()">
                        <div class="mb-3">
                            <label for="rol" class="form-label">Rol</label>
                            <input type="text" class="form-control" id="rol" name="rol" [(ngModel)]="rol">
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password">
                        </div>  
                        <button type="submit" class="btn btn-dark">Crear</button>
                        <div *ngIf="successMesssage" class="alert alert-danger mt-3">
                            {{ successMesssage }}
                          </div>                         
                        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
                            {{ errorMessage }}
                          </div> 
                    </form>
                </div>
            </div>

            <!-- Formulario de búsqueda de usuario por email -->
            <div class="card" *ngIf="mostrarFormularioBuscarUsuario && !mostrarFormularioCrearUsuario">
                <div class="card-header bg-dark text-dark" style="color: black;">
                    Buscar por ID
                </div>
                <div class="card-body">
                    <form>
                        <button type="button" class="btn btn-dark" (click)="onSubmitBuscarUsuario()">Buscar</button>                         
                    </form>
                </div>
            </div>

<!-- Mostrar resultados de búsqueda -->
<div *ngIf="resultadoBusqueda">
    <h4>Resultados de búsqueda:</h4>
    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>username</th>
          <th>email</th>
          <th>Acciónes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of resultadoBusqueda">
          <td>{{ item._id }}</td>
          <td>{{ item.username }}</td>
          <td>{{ item.email }}</td>
          <td>
            <button class="btn btn-primary btn-sm" (click)="editarRol(item)">Editar</button>
            <button class="btn btn-danger btn-sm" (click)="borrarRol(item._id)">Borrar</button>
            <div *ngIf="item.successMessage" class="alert alert-success mt-3">{{ item.successMessage }}</div>
            <div *ngIf="item.errorMessage" class="alert alert-danger mt-3">{{ item.errorMessage }}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>



  <div *ngIf="isEditing">
    <form (submit)="guardarCambios(editingItem._id)">
      <div class="mb-3">
        <label for="edit-id" class="form-label">ID</label>
        <input type="text" class="form-control" id="edit-id" name="edit-id" value="{{ editingItem._id }}" disabled>
      </div>
      <div class="mb-3">    
        <label for="edit-username" class="form-label">Username</label>
        <input type="text" class="form-control" id="edit-username" name="edit-username" [(ngModel)]="editingItem.username">
      </div>
      <div class="mb-3">
        <label for="edit-email" class="form-label">Email</label>
        <input type="email" class="form-control" id="edit-email" name="edit-email" [(ngModel)]="editingItem.email">
      </div>   
      <button type="submit" class="btn btn-dark">Guardar cambios</button>
      <button type="button" class="btn btn-secondary" (click)="cancelarEdicion()">Cancelar</button>
    </form>
  </div>
  
       