<div *ngIf="dataSourceSales">
  <div [ngClass]="[classes.printAreaContainer, classes.fontMono]" [ngStyle]="{ width: width }">
    <div [ngClass]="classes.textCenter"><strong>PAPELERIA PUNTO U</strong></div>
    <div [ngClass]="classes.singleLine">Direccion Calle 67 # 55 - 83</div>
    <div [ngClass]="classes.singleLine">Telefono 300 8002603</div>
    <div [ngClass]="classes.singleLine">Correo ppuntou@hotmail.com</div>
    <div [ngClass]="[classes.gridBorder, classes.gridBorderDouble]"></div>
    <div [ngClass]="classes.singleLine">Cliente: {{dataSourceSales.cliente[0].nombreRazonSocial}}</div>
    <div [ngClass]="classes.singleLine">Documento: {{dataSourceSales.cliente[0].numeroDocumento}}</div>
    <div [ngClass]="[classes.gridBorder, classes.gridBorderSolid]"></div>
    <div [ngClass]="classes.singleLine">Fecha Compra: {{dataSourceSales.fechaFactura}}</div>
    <div [ngClass]="classes.singleLine">Remision # {{dataSourceSales.numeroFactura}}</div>
    <div [ngClass]="[classes.gridBorder, classes.gridBorderSolid]"></div>
    <div [ngClass]="classes.singleLine">&nbsp;</div>
    <div [ngClass]="classes.grid3Col">
      <div><strong>Item</strong></div>
      <div [ngClass]="classes.textRight"><strong>Cant</strong></div>
      <div [ngClass]="classes.textRight"><strong>VUni</strong></div>
      <div [ngClass]="classes.textRight"><strong>Desc</strong></div>
      <!--
        <div [ngClass]="classes.textRight"><strong>VUni</strong></div>
      <div [ngClass]="classes.textRight"><strong>Total</strong></div>
      <div [ngClass]="classes.maxLine"><strong>Desc</strong></div>
      <div [ngClass]="classes.maxLine"><strong>Total</strong></div>
      -->
      <div [ngClass]="[classes.gridBorder, classes.gridBorderDouble]"></div>
      <tr *ngFor="let cartItems of dataSourceSales.articulo; let i = index">
        <div [ngClass]="classes.maxLine2">{{ cartItems.descripcion }}</div>
        <div [ngClass]="classes.textRight">{{ cartItems.cantidad | number: '.0' }}</div>
        <div [ngClass]="classes.textRight">{{ cartItems.precioVenta | currency : 'USD' : 'symbol' : '1.0-0' }}</div>
        <!--
        <div [ngClass]="classes.textRight">{{ cartItems.precioVenta | currency : 'USD' : 'symbol' : '1.0-0' }}</div>
        <div [ngClass]="classes.textRight">{{ cartItems.total | currency : 'USD' : 'symbol' : '1.0-0' }}</div>
        <div [ngClass]="classes.maxLine"> - {{cartItems.descuento | currency : 'USD' : 'symbol' : '1.0-0' }}</div>
        <div [ngClass]="classes.maxLine">{{ cartItems.total | currency : 'USD' : 'symbol' : '1.0-0' }}</div>
        -->
      </tr>
      <div [ngClass]="[classes.gridBorder, classes.gridBorderSolid]"></div>
      <div [ngClass]="[classes.colSpan2, classes.maxLine2]">
        <strong>Subtotal</strong>
      </div>
      <div [ngClass]="classes.textRight"><strong>{{ dataSourceSales.subtotal | currency : 'USD' : 'symbol' : '1.0-0' }}</strong></div>
      <div [ngClass]="[classes.colSpan2, classes.maxLine2]">
        <strong>descuento</strong>
      </div>
      <div [ngClass]="classes.textRight"><strong>-    {{ dataSourceSales.descuento | currency : 'USD' : 'symbol' : '1.0-0' }}</strong></div>
      <div [ngClass]="[classes.colSpan2, classes.maxLine2]">
        <strong>total</strong>
      </div>
      <div [ngClass]="classes.textRight"><strong>{{ dataSourceSales.total | currency : 'USD' : 'symbol' : '1.0-0' }}</strong></div>
    </div>
  </div>
</div>