<mat-toolbar color="primary" class="mat-elevation-z6">

  <button mat-icon-button matTooltip="Menu" (click)="opened=!opened">
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-icon-button routerLink="/buscarProveedor" matTooltip="Buscar">
    <mat-icon>search</mat-icon>
  </button> 


  <span class="spacer"></span>
  <button mat-fab extended disabled class="colorText">
    REGISTRAR PROVEEDOR
  </button>

  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="usuarios" matTooltip="Gestion Cuentas">
    <mat-icon>manage_accounts</mat-icon>
    <mat-menu #usuarios="matMenu">
      <ng-template matMenuContent>
        <button mat-menu-item routerLink="/registrarUsuario">Registrar Usuario</button>
        <button mat-menu-item routerLink="/buscarUsuario">Buscar</button>
      </ng-template>
    </mat-menu>
  </button> 
  
  <button mat-icon-button matTooltip="Ajustes">
    <mat-icon>settings</mat-icon>
  </button> 
  <button mat-icon-button matTooltip="Usuario Logueado">
    <mat-icon>assignment_ind</mat-icon>
  </button> 
  <button mat-icon-button routerLink="/login" matTooltip="Salir">
    <mat-icon>logout</mat-icon>
  </button> 
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="push">
    <mat-nav-list>
      <mat-list-item routerLink="/menu" (click)="opened=!opened">
        <mat-icon>menu</mat-icon>
      </mat-list-item>
      <mat-list-item routerLink="/catalogoProductos" [class.mat-elevation-z0]="true" style="cursor: pointer">
        <mat-icon>shopping_bag</mat-icon>
        <span>Catalogo</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-icon>perm_identity</mat-icon>
          <span> Clientes</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/registrarCliente">
            <span>Registrar</span>
          </a>
          <a mat-list-item routerLink="/buscarCliente">
            <span>Buscar</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-icon>article</mat-icon>
          <span> Articulos</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/registrarArticulo">
            <span>Registrar</span>
          </a>
          <a mat-list-item routerLink="/buscarArticulo">
            <span>Buscar</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-icon>location_searching</mat-icon>
          <span> Ubicaciones</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/registrarUbicacion">
            <span>Registrar</span>
          </a>
          <a mat-list-item routerLink="/buscarUbicacion">
            <span>Buscar</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-icon>supervisor_account</mat-icon>
          <span> Proveedores</span>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/registrarProveedor">
            <span>Registrar</span>
          </a>
          <a mat-list-item routerLink="/buscarProveedor">
            <span>Buscar</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <mat-list-item routerLink="/catalogoProductos" [class.mat-elevation-z0]="true">
        <mat-icon>shopping_basket</mat-icon>
        <span> Pedidos</span>
      </mat-list-item>
    </mat-nav-list>


  </mat-sidenav>
  <mat-sidenav-content>

    
<mat-card>
  <form class="form">
  <td></td>
    <table class="full-width" cellspacing="0"><tr>
      <td><mat-form-field class="full-width">
        <mat-label>Tipo Documento</mat-label>
        <mat-icon matSuffix>list</mat-icon>
        <mat-select [(ngModel)]="nuevoProveedor.tipoDocumento" name="tipoDocumento" #fontSize value="NIT">
          <mat-option value="CC">Cedula Ciudadanía</mat-option>
          <mat-option value="NIT">Nit</mat-option>
          <mat-option value="CE">Cedula Extranjería</mat-option>
          <mat-option value="TI">Tarjeta Identidad</mat-option>
          <mat-option value="PAS">Pasaporte</mat-option>
          <mat-option value="RC">Registro Civil</mat-option>
        </mat-select>
      </mat-form-field></td>
      <td><mat-form-field class="full-width">
        <mat-label>Numero Documento</mat-label>
        <mat-icon matSuffix>contacts</mat-icon>
        <input matInput [(ngModel)]="nuevoProveedor.numeroDocumento" name="numeroDocumento" required="">
      </mat-form-field></td>
      <td><mat-form-field class="full-width">
        <mat-label>Nombre - Razon Social</mat-label>
        <mat-icon matSuffix>description</mat-icon>
        <input matInput [(ngModel)]="nuevoProveedor.nombreRazonSocial" name="nombreRazonSocial" required="">
      </mat-form-field></td>
    </tr></table>

    <table class="full-width" cellspacing="0"><tr>
      <td>
        <mat-form-field class="full-width">
          <mat-label>Telefono</mat-label>
          <mat-icon matSuffix>phone</mat-icon>
          <input matInput [(ngModel)]="nuevoProveedor.telefono" name="telefono" required>
        </mat-form-field>
      </td>
      <td><mat-form-field class="full-width">
        <mat-label>Extensión</mat-label>
        <mat-icon matSuffix>settings_phone</mat-icon>
        <input matInput matInput [(ngModel)]="nuevoProveedor.extension" name="extension" #extention maxlength="4" placeholder="Ex. 1234">
        <mat-hint align="end">{{extention.value.length}} / 4</mat-hint>
      </mat-form-field></td>
      <td><mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <mat-icon matSuffix>email</mat-icon>
          <input type="email" matInput [(ngModel)]="nuevoProveedor.email" name="email" [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                placeholder="Ex. correo@example.com">
      </mat-form-field></td>
    </tr></table>

    <p>
    <table class="full-width" cellspacing="0"><tr>
      <td><mat-form-field class="full-width">
        <mat-label>Departamento</mat-label>
        <mat-icon matSuffix>business</mat-icon>
        <mat-select [(ngModel)]="nuevoProveedor.departamento" name="departamento" #fontSize value="ANT">
          <mat-option  value="ANT">Antioquia</mat-option>
        </mat-select>
      </mat-form-field></td>
    <td><mat-form-field class="full-width">
      <mat-label>Municipcio</mat-label>
      <mat-icon matSuffix>business</mat-icon>
      <mat-select [(ngModel)]="nuevoProveedor.municipio" name="municipio" #fontSize value="MED">
        <mat-option value="MED">Medellin</mat-option>
        <mat-option value="BEL">Bello</mat-option>
        <mat-option value="ENV">Envigado</mat-option>
        <mat-option value="SAB">Sabaneta</mat-option>
        <mat-option value="ITA">Itagui</mat-option>
        <mat-option value="EST">Estrella</mat-option>
      </mat-select>
    </mat-form-field></td>
      <td><mat-form-field class="full-width">
        <mat-label>Barrio</mat-label>
        <mat-icon matSuffix>business</mat-icon>
        <input matInput [(ngModel)]="nuevoProveedor.Barrio" name="barrio">
      </mat-form-field></td>
    </tr></table>

    <p>
      <table class="full-width" cellspacing="0"><tr>
      <td><mat-form-field class="full-width">
        <mat-label>Dirección</mat-label>
        <mat-icon matSuffix>tour</mat-icon>
        <input matInput  [(ngModel)]="nuevoProveedor.direccion" name="direccion" required placeholder="Calle 67 #55-89">
      </mat-form-field></td>
      <td></td>
      <td><mat-form-field class="full-width">
        <mat-label>Regimen Tributario</mat-label>
        <mat-icon matSuffix>currency_exchange</mat-icon>
        <mat-select [(ngModel)]="nuevoProveedor.regimenTributario" name="regimenTributario" #fontSize value="SIM">
          <mat-option value="SIMPLIFICADO">Simplificado</mat-option>
          <mat-option value="COMUN">Común</mat-option>
          <mat-option value="ESPECIAL">Especial</mat-option>
        </mat-select>
      </mat-form-field></td>
    </tr></table>   
  </form>

  <mat-card-actions align="end">
    <button mat-icon-button matTooltip="Guardar" (click)="guardarProveedor()">
      <mat-icon>save</mat-icon>
    </button> 
    <button mat-icon-button matTooltip="Cancelar"  (click)="resetNuevoProveedor()">
      <mat-icon>cancel_presentation</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

    <img src="../../assets/PuntoU.jpg" class="img-fluid"
    style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.75;width: 100%; height: 100%;">

  </mat-sidenav-content>
</mat-sidenav-container>


<div *ngIf="mensajeExitoso" class="alert alert-success mt-3">
  {{ mensajeExitoso }}
</div>
  

<div *ngIf="mensajeFallido" class="alert alert-success mt-3">
  {{ mensajeFallido }}
</div>
