<mat-toolbar color="basic" class="mat-elevation-z6">
  
  <button mat-icon-button routerLink="/menu" matTooltip="Menu">
    <mat-icon>menu</mat-icon>
  </button> 

  <button mat-icon-button routerLink="/buscarArticulo" matTooltip="Buscar Articulo">
    <mat-icon>search</mat-icon>
  </button> 

  <span class="spacer"></span>


  <button mat-icon-button matTooltip="Ajustes">
    <mat-icon>settings</mat-icon>
  </button> 
  <button mat-icon-button matTooltip="Usuario Logueado">
    <mat-icon>assignment_ind</mat-icon>
  </button> 
  <button mat-icon-button routerLink="/login" matTooltip="Salir">
    <mat-icon>logout</mat-icon>
  </button> 
</mat-toolbar>

<mat-card>
  <form class="form">
  <td></td>
    <table class="full-width" cellspacing="0"><tr>
      <td>
        <mat-form-field class="full-width">
          <mat-label>Código</mat-label>
          <mat-icon matSuffix>codigo</mat-icon>
          <input matInput [(ngModel)]="nuevoArticulo.codigo" minlength="10"  maxlength="10" name="codigo" required>
        </mat-form-field>
      </td>
      
      <td>
        <mat-form-field class="full-width">
          <mat-label>Descripción</mat-label>
          <mat-icon matSuffix>descripcion</mat-icon>
          <input matInput [(ngModel)]="nuevoArticulo.descripcion" name="descripcion" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <mat-label>Marca</mat-label>
          <mat-icon matSuffix>marca</mat-icon>
          <input matInput [(ngModel)]="nuevoArticulo.marca"  name="marca" required>
        </mat-form-field>
      </td>      
    </tr></table>


    <table class="full-width" cellspacing="0"><tr>
      <td>
        <mat-form-field class="full-width">
          <mat-label>Referencia</mat-label>
          <mat-icon matSuffix>referencia</mat-icon>
          <input matInput [(ngModel)]="nuevoArticulo.referencia" name="referencia" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="full-width">
          <mat-label>Unidad Medida</mat-label>
          <mat-icon matSuffix>list</mat-icon>
          <mat-select [(ngModel)]="nuevoArticulo.unidadMedida" name="unidadMedida" >
            <mat-option value="UND">Unidad</mat-option>
            <mat-option value="HOJ">Hoja</mat-option>
            <mat-option value="RES">Resma</mat-option>
            <mat-option value="CAJ">Caja</mat-option>
            <mat-option value="ROL">Rollo</mat-option>
            <mat-option value="MET">Metro</mat-option>
            <mat-option value="KIL">Kilo</mat-option>
            <mat-option value="LIT">Litro</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      
      <td>
        <mat-form-field class="full-width">
          <mat-label>Codigo Ubicación</mat-label>
          <mat-icon matSuffix>codigoUbicacion</mat-icon>
          <mat-select [(ngModel)]="nuevoArticulo.codigoUbicacion" name="codigoUbicacion" >
            <mat-option disabled selected>Selecciona una ubicación</mat-option>
            <mat-option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion.codigo">
              {{ ubicacion.nombreZona }} - {{ ubicacion.codigo }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>          
    </tr></table>
   

    <button mat-icon-button matTooltip="Guardar" (click)="crearArticulo()">
      <mat-icon>save</mat-icon>
    </button> 
    <button mat-icon-button matTooltip="Cancelar" (click)="cancelarCreacion()">
      <mat-icon>cancel_presentation</mat-icon>
    </button>
  </form>

  <mat-card-actions align="end">

  </mat-card-actions>
</mat-card>

<div *ngIf="mensajeExitoso" class="alert alert-success mt-3">
  {{ mensajeExitoso }}
</div>
  

<div *ngIf="mensajeFallido" class="alert alert-success mt-3">
  {{ mensajeFallido }}
</div>
<img src="../../assets/PuntoU.jpg" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.75;width: 100%; height: 100%;">
