<mat-toolbar color="accent" class="mat-elevation-z6">
  
  <button mat-icon-button routerLink="/menu" matTooltip="Menu">
    <mat-icon>menu</mat-icon>
  </button> 

  <span class="spacer"></span>

  <button color="accent">
    REGISTRAR ARTICULO
  </button> 

  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="usuarios" matTooltip="Gestion Cuentas">
    <mat-icon>manage_accounts</mat-icon>
    <mat-menu #usuarios="matMenu">
      <ng-template matMenuContent>
        <button mat-menu-item routerLink="/registrarUsuario">Registrar Usuario</button>
        <button mat-menu-item routerLink="/buscarUsuario">Buscar Usuario</button>
      </ng-template>
    </mat-menu>
  </button> 
  
  <button mat-icon-button matTooltip="Ajustes">
    <mat-icon>settings</mat-icon>
  </button> 
  <button mat-icon-button matTooltip="Usuario Logueado">
    <mat-icon>assignment_ind</mat-icon>
  </button> 
  <button mat-icon-button routerLink="/login" matTooltip="Salir">
    <mat-icon>logout</mat-icon>
  </button> 
</mat-toolbar>

<mat-card>
  <form class="form">
  <td></td>
    <table class="full-width" cellspacing="0"><tr>
      <td><mat-form-field class="full-width">
        <mat-label>Descripción</mat-label>
        <mat-icon matSuffix>article</mat-icon>
        <input matInput required="">
      </mat-form-field></td>
      <td><mat-form-field class="full-width">
        <mat-label>Marca</mat-label>
        <mat-icon matSuffix>label</mat-icon>
        <input matInput required="">
      </mat-form-field></td>
      <td><mat-form-field class="full-width">
        <mat-label>Referencia</mat-label>
        <mat-icon matSuffix>description</mat-icon>
        <input matInput required="">
      </mat-form-field></td>
    </tr></table>

    <table class="full-width" cellspacing="0"><tr>
      <td><mat-form-field class="full-width">
        <mat-label>Unidad Medida</mat-label>
        <mat-icon matSuffix>list</mat-icon>
        <mat-select #fontSize value="UND">
          <mat-option value="UND">Unidad</mat-option>
          <mat-option value="HOJ">Hoja</mat-option>
          <mat-option value="RES">Resma</mat-option>
          <mat-option value="CAJ">Caja</mat-option>
          <mat-option value="ROL">Rollo</mat-option>
          <mat-option value="MET">Metro</mat-option>
          <mat-option value="KIL">Kilo</mat-option>
          <mat-option value="LIT">Litro</mat-option>
        </mat-select>
      </mat-form-field></td>
      <td><mat-form-field class="full-width">
        <mat-label>Codigo Ubicación</mat-label>
        <mat-icon matSuffix>list</mat-icon>
        <mat-select #fontSize value="XXX">
          <mat-option value="XXX">Base Datos</mat-option>
        </mat-select>
      </mat-form-field></td>
    </tr></table>
  </form>

  <mat-card-actions align="end">
    <button mat-icon-button matTooltip="Guardar">
      <mat-icon>save</mat-icon>
    </button> 
    <button mat-icon-button matTooltip="Cancelar">
      <mat-icon>cancel_presentation</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<img src="../../assets/PuntoU.jpg" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.75;width: 100%; height: 100%;">