<mat-toolbar color="basic" class="mat-elevation-z6">

  <button mat-icon-button routerLink="/menu" matTooltip="Menu">
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-icon-button routerLink="/registrarUbicacion" matTooltip="Registrar Ubicación">
    <mat-icon>app_registration</mat-icon>
  </button>

  <span class="spacer"></span>

  <button mat-fab extended disabled>
    BUSCAR UBICACION
  </button>

  <span class="spacer"></span>

  <button mat-icon-button [matMenuTriggerFor]="usuarios" matTooltip="Gestion Cuentas">
    <mat-icon>manage_accounts</mat-icon>
    <mat-menu #usuarios="matMenu">
      <ng-template matMenuContent>
        <button mat-menu-item routerLink="/registrarUsuario">Registrar Usuario</button>
        <button mat-menu-item routerLink="/buscarUsuario">Buscar Usuario</button>
      </ng-template>
    </mat-menu>
  </button>

  <button mat-icon-button matTooltip="Ajustes">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Usuario Logueado">
    <mat-icon>assignment_ind</mat-icon>
  </button>
  <button mat-icon-button routerLink="/login" matTooltip="Salir">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-card>
  <mat-form-field class="middle-width">
    <mat-label>Filtrar ubicacion</mat-label>
    <mat-icon matSuffix>search</mat-icon>
    <input matInput (keyup)="filtrar($event)" placeholder="buscar">
  </mat-form-field>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">Parametro de busqueda no encontrado</td>
  </tr>

  <div *ngIf="isLoadingResults" class="loading-shade">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>


  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSourceUbicaciones" class="mat-elevation-z8">

      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Codigo </th>
        <td mat-cell *matCellDef="let ubicacion"> {{ubicacion.codigo}} </td>
      </ng-container>

      <ng-container matColumnDef="nombreZona">
        <th mat-header-cell *matHeaderCellDef> Nombre Zona </th>
        <td mat-cell *matCellDef="let ubicacion"> {{ubicacion.nombreZona}} </td>
      </ng-container>

      <ng-container matColumnDef="numeroZona">
        <th mat-header-cell *matHeaderCellDef> Numero Zona </th>
        <td mat-cell *matCellDef="let ubicacion"> {{ubicacion.numeroZona}} </td>
      </ng-container>

      <ng-container matColumnDef="numeroEstanteria">
        <th mat-header-cell *matHeaderCellDef> Numero Estanteria </th>
        <td mat-cell *matCellDef="let ubicacion"> {{ubicacion.numeroEstanteria}} </td>
      </ng-container>

      <ng-container matColumnDef="numeroUbicacion">
        <th mat-header-cell *matHeaderCellDef> Numero Ubicacion </th>
        <td mat-cell *matCellDef="let ubicacion"> {{ubicacion.numeroUbicacion}} </td>
      </ng-container>

      <ng-container matColumnDef="estadoActivo">
        <th mat-header-cell *matHeaderCellDef> Estado Activo </th>
        <td mat-cell *matCellDef="let ubicacion"> {{ubicacion.estadoActivo}} </td>
      </ng-container>

      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef> Accion </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" matTooltip="Editar">
            <mat-icon>edit_note</mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="Eliminar">
            <mat-icon>delete</mat-icon>
          </button>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>

    </table>

    <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
      [showFirstLastButtons]="true" [pageSizeOptions]="pageSizeOptions" (page)="recargarUbicacion($event)">
    </mat-paginator>
  </div>
</mat-card>

<img src="../../assets/PuntoU.jpg" class="img-fluid"
  style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.75;width: 100%; height: 100%;">