<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <a class="navbar-brand" href="#">UNET</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/menu">Inicio <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/articulo">Articulos</a> <!-- Ajusta el href para redireccionar a /articulos -->
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/administracion">Administración</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link text-light" href="#">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>
  
  <!-- Resto de tu HTML -->
  <nav class="menu">
    <ul class="menu-list">
      <li><a href="#" (click)="mostrarFormularioCrearArticulo($event)">Crear Artículo</a></li>
      <li><a href="#" (click)="mostrarFormularioBuscarArticulo($event)">Buscar Artículo</a></li>
    </ul>
  </nav>

  <div *ngIf="mostrarFormulario" class="d-flex justify-content-center align-items-center vh-100">
    <div class="card w-75 bg-danger">
      <div class="card-header bg-dark text-light">
        Crear Artículo
      </div>
      <div class="card-body">
        <form (submit)="crearArticulo()" #articuloForm="ngForm">
          <div class="mb-3">
            <label for="codigo" class="form-label">Código (10 caracteres)</label>
            <input
            type="text"
            class="form-control"
            id="codigo"
            name="codigo"
            [(ngModel)]="nuevoArticulo.codigo"
            #codigoInput="ngModel"
            minlength="10"
            (input)="limitarLongitudCodigo($event)"
            required
            >
            <div class="text-danger" *ngIf="codigoInput.invalid && (codigoInput.dirty || codigoInput.touched)">
              El código debe tener al menos 10 caracteres.
            </div>
          </div>
          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="nuevoArticulo.descripcion">
          </div>
          <div class="mb-3">
            <label for="unidadMedida" class="form-label">Unidad de Medida</label>
            <input type="text" class="form-control" id="unidadMedida" name="unidadMedida" [(ngModel)]="nuevoArticulo.unidadMedida">
          </div>
          <div class="mb-3">
            <label for="documentoProveedor" class="form-label">Documento del Proveedor</label>
            <select
              class="form-control"
              id="documentoProveedor"
              name="documentoProveedor"
              [(ngModel)]="nuevoArticulo.documentoProveedor"
              multiple
              size="3" 
            >
              <option *ngFor="let proveedor of proveedores" [value]="proveedor.numeroDocumento">
                {{ proveedor.numeroDocumento }}
                {{ proveedor.nombreRazonSocial }}
              </option>
            </select>
          </div>
                    
          <div class="mb-3">
            <label for="codigoUbicacion" class="form-label">Código de Ubicación</label>
            <select class="form-select" id="codigoUbicacion" name="codigoUbicacion" [(ngModel)]="nuevoArticulo.codigoUbicacion">
              <option value="" disabled selected>Selecciona una ubicación</option>
              <option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion.codigo">{{ ubicacion.nombreZona }} - {{ ubicacion.codigo }}</option>
            </select>
          </div>
                  
          <div class="mb-3">
            <label for="estadoActivo" class="form-label">Estado Activo</label>
            <input type="checkbox" class="form-check-input" id="estadoActivo" name="estadoActivo" [(ngModel)]="nuevoArticulo.estadoActivo">
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="codigoInput.invalid || articuloForm.invalid">Guardar</button>
            <button type="button" class="btn btn-secondary" (click)="cancelarCreacion()">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  

<div *ngIf="mostrarFormularioBuscar" >
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <div *ngIf="!mostrarCampoFiltrar">
      <div class="input-group"> 
        <input type="text" class="form-control" placeholder="Buscar artículo por id" [(ngModel)]="codigoArticuloBusqueda">
        <button class="btn btn-primary" (click)="buscarArticulo()">Buscar</button>
      </div>
    </div>
      <div *ngIf="mostrarCampoFiltrar">
      <div class="input-group mt-3">
        <input type="text" class="form-control" placeholder="Filtrar por Descripción..." [(ngModel)]="filtroDescripcion" (input)="buscarArticulo()">
      </div>    
    </div>  
    </div>
  </div>
</div>
</div>


<div *ngIf="mostrarResultados" class="resultados-container">
  <h3 class="resultados-title">Resultados de la Búsqueda</h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>Código</th>
          <th>Descripción</th>
          <th>Unidad de Medida</th>
          <th>Documento Proveedor</th>
          <th>Codigo ubicacion</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let articulo of articulosEncontrados">
          <tr>
            <td>{{ articulo._id }}</td>
            <td>{{ articulo.codigo }}</td>
            <td>{{ articulo.descripcion }}</td>
            <td>{{ articulo.unidadMedida }}</td>
            <td>{{ articulo.documentoProveedor }}</td>
            <td>{{ articulo.codigoUbicacion }}</td>
            <td>{{ articulo.estadoActivo }}</td>
            <td>
              <button class="btn btn-sm btn-primary" (click)="editarArticulo(articulo)">Editar</button>
              <button class="btn btn-sm btn-danger" (click)="borrarArticulo(articulo._id)">Borrar</button>
              
            </td>
          </tr>
          <tr *ngIf="articulo._id === (articuloEditando?._id || '')">
            <td colspan="8">
              <div class="card mt-2">
                <div class="card-body">
                  <form *ngIf="articuloEditando" (submit)="guardarEdicionArticulo()" #edicionForm="ngForm" class="d-flex flex-column align-items-center">
                    <div class="mb-3">
                      <label for="editarDescripcion" class="form-label">Editar Descripción</label>
                      <input type="text" class="form-control" id="editarDescripcion" name="editarDescripcion" [(ngModel)]="articuloEditando.descripcion">
                    </div>
                    <div class="mb-3">
                      <label for="editarUnidadMedida" class="form-label">Editar Unidad de Medida</label>
                      <input type="text" class="form-control" id="editarUnidadMedida" name="editarUnidadMedida" [(ngModel)]="articuloEditando.unidadMedida">
                    </div>
                    <div class="mb-3">
                      <label for="editarDocumentoProveedor" class="form-label">Editar Documento del Proveedor</label>
                      <select class="form-select" id="editarDocumentoProveedor" name="editarDocumentoProveedor" [(ngModel)]="articuloEditando.documentoProveedor" multiple>
                        <option *ngFor="let proveedor of proveedores" [value]="proveedor.numeroDocumento">
                          {{ proveedor.numeroDocumento }} - {{ proveedor.nombreRazonSocial }}
                        </option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="editarCodigoUbicacion" class="form-label">Editar Código de Ubicación</label>
                      <select class="form-select" id="editarCodigoUbicacion" name="editarCodigoUbicacion" [(ngModel)]="articuloEditando.codigoUbicacion">
                        <option value="" disabled>Selecciona una ubicación</option>
                        <option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion.codigo">{{ ubicacion.nombreZona }} - {{ ubicacion.codigo }}</option>
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="editarEstadoActivo" class="form-label">Editar Estado Activo</label>
                      <input type="checkbox" class="form-check-input" id="editarEstadoActivo" name="editarEstadoActivo" [(ngModel)]="articuloEditando.estadoActivo">
                    </div>
                    
                    <div class="text-center mt-3">
                      <button type="submit" class="btn btn-primary" >Guardar</button>
                      <button type="button" class="btn btn-secondary" (click)="cancelarEdicion()">Cancelar</button>
                    </div>
                  </form>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>




<div *ngIf="mensajeExitoso" class="alert alert-success mt-3">
  {{ mensajeExitoso }}
</div>
  

<div *ngIf="mensajeFallido" class="alert alert-success mt-3">
  {{ mensajeFallido }}
</div>