/* Estilos para el menú */
.menu {
  background-color: #333; /* Color de fondo del menú */
  color: white; /* Color del texto en el menú */
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.menu-list li {
  margin: 0 15px;
}

.menu-list li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.menu-list li a:hover {
  color: #f39c12; /* Color al pasar el ratón sobre los enlaces */
}

/* Ajusta el estilo del select */
.form-control {
  appearance: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}

/* Ajusta el estilo de las opciones */
.form-control option {
  background-color: white;
  color: black;
}

/* Cambia el color del fondo cuando se selecciona una opción */
.form-control option:checked {
  background-color: #007bff;
  color: white;
  border-color: #f39c12;
}

/* Estilos para la sección de resultados */
.resultados-container {
  margin-top: 10px;
}

.resultados-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card {
  margin-bottom: 15px;
  border: 1px solid #e0e0e0;
}

.card-header {
  background-color: #f0f0f0;
  font-weight: bold;
}

.card-body {
  padding: 10px;
}

.card p {
  margin: 5px 0;
}

